body {
  margin: 0;
  padding: 0;
  color: #eee;
  background-color: #360b0b;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #eee;
  text-decoration: none;
}

header {
  background-color: #212121;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0.5em 0.2em;
  width: auto;
  transition: all 0.2s;
  font-size: 1.3rem;
  color: #eee;
}

input:active,
input:focus {
  outline: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}

input:active::placeholder,
input:focus::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 2em 0;
  
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 80%;
  margin: 0 1em;
}

button {
  padding: 0.2em 1em;
  border: 0;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

button#search{
  background-color: green;
  margin: 2.5em 3em auto 2em;
  height: 2em
}
.card {
  max-width: 300px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  opacity: 0.8;
}

.card .img-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  height: 200px;
}

.card .info-wrapper {
  padding: 1em;
}
.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}
.destination {
  width: 100%;
}
.destination h2,
/* .search h2 {
  text-align: center;
} */

h2{
  margin-bottom: 2em;
}

.activity-content  {
  /* width: 95vw;
  margin: auto;
  display:grid;
  grid-template-columns: 100px auto 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1em 0; */
  margin :0 auto;
  max-width:1000px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap: 20px;
}


.title {
display: text-align;
}

.travelBody img{
 
  background-size: cover;
  height: 75h;
  width:75vh;
}
.travelBody{
 
  display:grid;
  grid-template-columns: repeat (3,1fr);
  display:flex;
  text-align: center;
  align-items:center;
  justify-content: space-between;
  gap:1.9em;
  margin: 2em auto -6rem;
  color:white;
 
}

.travelDiv h1{
  margin-top: 50px;
  margin-bottom: 50px;
}

.travelDiv p{
  color:rgb(206, 15, 145)
}

.image-container div {
  margin: auto;
  width: 100%;
grid-column-start: 1;
grid-column-end: 3;
  display:flex;

}


.image-container img {
  margin: auto;
  text-align: center;
  width: 100%;
}

.details {
  width: 80%;
  margin: auto;
  padding:40px;
}

button.remove{
margin-top: 2em;
margin-right: 1em;
color:red
}
button.edit{
  margin-right: 1em;
  color:rgb(3, 49, 3);

  }
  button.copy{
    color:rgb(236, 214, 12)
    }
p{
  margin-top: 1em
}

.flex-row {
  display: flex;
}
.space {
  justify-content: space-between;
}



.formDiv{
  font-size:30px;
  text-align:center;
  color:pink;
  margin: 0 auto .5vh auto;
  min-width: 100%;
height: 100vh;
padding:5vh;
position:relative;
width: 50%;
  display:flex;
  text-align: center;
 justify-content: center;
 
}

.add-button {
  background-color: rgb(206, 15, 145);
}
.send{
  background-color: rgb(206, 15, 145);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ;
}


.formDiv h1{
  font-size: 35px;
  text-align:center;
  color:rgb(206, 15, 145);
  margin: 0 0 .5vh 0;

}
.formDiv input,textarea,select{
  display:block;
  width:100%;
  padding: .5rem .8rem .5rem ,8rem;
  margin: .9vh 0;
  border:0;
  border: radius 5px;
  font-size:20px;;
}
.allActivities{
  margin-bottom: 5em;
}
.formDiv textarea{
  height: 10vh;
}

li{
  list-style: none;
}

.sidenav {
  height: 60px;
  width: 100%;
  display: flex;
  margin-right:1em;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: rgb(35, 32, 32);
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  
}
